/* Start custom CSS for global, class: .elementor-global-2260 */
.about_nav_pc, .econ_nav_pc, .asset_nav_pc{
        display:block;
    }
@media(max-width: 767px){
    .about_nav_pc, .econ_nav_pc, .asset_nav_pc{
        display:none;
    }
}/* End custom CSS */
/* Start custom CSS for global, class: .elementor-global-2280 */
#select_jp_dropdown_menu_widget-REPLACE_TO_ID{
    width: 100%;
    color: #323232;
    -webkit-appearance: none;
    padding: 15px;
    font-size: 16px;
    border-color: #004E91;
    border-radius: 15px;
}
.about_nav_mb, .econ_nav_mb, .asset_nav_mb{
    display: none;
    position: relative;
}
.about_nav_mb::after, .econ_nav_mb::after, .asset_nav_mb::after{
    width: 0px;
    height: 0px;
    border-width: 12px;
    border-style: solid;
    border-color: #004E91 transparent transparent  transparent;
    position: absolute;
    content: ' ';
    right: 15px;
    top: 17px;
}

@media(max-width:767px){
    .about_nav_mb, .econ_nav_mb, .asset_nav_mb{
        display: block;
    }
}/* End custom CSS */
